*{
    margin: 0px;
    padding: 0px;
}
button{
    padding: 20px;
}

#calc{
    border: 5px solid black;
    background-color: #545454;
    border-radius: 20px;
    width:  500px;
    height: 700px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
}
#contents{
    padding: 50px;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
#display{
    font-size: 60px;
    background-color: #dbe3d3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 20px;
    text-align: right;
    flex-basis: 100px;
    border: 3px solid black;
}
.rows{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 10px 0px;
}
.rows .keys{
    width: 100px;
    height: 80px;
    background-color: #c2c2c2;
    border: 3px solid black;
    border-radius: 10px;
    font-size: 30px;
}
.top{
    display: flex;
    justify-content: space-between;
}
.top .keys{
    width: 195px;
    background-color: #c2c2c2;
    border: 3px solid black;
    border-radius: 10px;
    font-size: 30px;
}